@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer components {
  .btn-506D7D {
    @apply bg-[#506D7D] text-white;
  }
  .btn-506D7D:hover {
    @apply bg-opacity-90;
  }
  .btn-F5F5F5 {
    @apply bg-[#F5F5F5] text-[#48352F];
  }
  .btn-F5F5F5:hover {
    @apply bg-[#dfdddb];
  }
}

@layer utilities {
  .placeholder-muted::placeholder {
    color: #dfdddb;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'GenJyuuGothicL';
  src: url('/fonts/GenJyuuGothicL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 600px) {
  .responsive-image {
    width: 600px !important;
    height: 600px !important;
  }
}

.textarea-custom {
  max-width: 500px;
  margin: auto;
}

@media (min-width: 769px) {
  .menu-button {
    position: relative;
    right: auto;
    bottom: auto;
  }
}

@media (max-width: 768px) {
  .menu-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #E0DBD2;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
  }
}

.carousel-height-custom {
  height: 480px;
}

.carouselItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carouselItemContent p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.marked-text {
  border-bottom: 2px solid #E0DBD2;
  display: inline;
  line-height: normal;
}

.custom-marked-text {
  border-bottom: 2px solid #E0DBD2;
  display: inline;
  position: relative;
  top: 20px;
}

:root {
  --table-border-color: #E0DBD2;
}

.custom-table-border {
  border-color: var(--table-border-color);
}

.sheetContent {
  max-width: 100vw;
  padding: 0 5vw;
  box-sizing: border-box;
}